[class^='col']{
    background-color: blue;
    padding: 10px;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.container{
    padding: 20px;
}

.col-nested{
    background-color: greenyellow;
    color: black;
    border: 1px solid currentColor;
}

.es-1{
    margin-bottom: 20px;
}

.es-2{
    margin-bottom: 20px;
}